

@font-face {
  font-family: "ProximaNova-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProximaNova-Regular.woff2) format(woff2),
    url(../fonts/ProximaNova-Regular.ttf) format(ttf);
}

@font-face {
  font-family: "ProximaNova-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProximaNova-Bold.woff2) format(woff2),
    url(../fonts/ProximaNova-Bold.ttf) format(ttf);
}

h1, h2, h3, h4, h5 {
  font-family: "ProximaNova-Bold";
}
h2 {
  margin-bottom: 50px;
}
ul li {
  padding-left: 20px;
  position: relative;
}

ul li::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
}
button {
  background: transparent;
  border: none;
}

body {
  font-family: "ProximaNova-Regular";
  font-size: 32px;
  max-width: 740px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #777;
  padding: 0 10px;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 100px;
}

.menu-btn {
  height: 32px;
  width: 38px;
}
.logo {
  width: 100px;
  height: 100px;
  transform: translateY(40px);
}
.menu-phone {
  width: 62px;
  height: 48px;
}

h1 {
  font-family: "ProximaNova-Bold";
  font-size: 40px;
  text-align: center;
  margin-bottom: 150px;
}

h1 span {
  font-size: 54px;
  background-color: #008080;
  padding: 0 8px;
}

.portrait-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portrait {
  background-image: url(../img/portrait.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 568px;
  width: 542px;
  margin-bottom: 75px;
  position: relative;
}
.portrait::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
    background-color: #777;
z-index: 5;
bottom: 0;
}

.front-page__table img {
  width: 140px;
  height: 140px;
}
.front-page__table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.front-page__taxt {
}

.front-page__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #008000;
  height: 74px;
  border-bottom: 1px solid #fff;
  margin-bottom: 100px; 
}

.treatment {
}

.treatment__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 60px;
}
.treatment__img {
  min-width: 130px;
  height: 130px;
}
.treatment__img img {
  width: 130px;
  height: 130px;
}

h2 {
  font-family: "ProximaNova-Bold";
  font-size: 66px;
  text-align: center;
}

.stages {
  margin-bottom: 270px;
}
.stages__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  column-gap: 70px;
}
.stages__item {
  background-color: #fff;
  height: 420px;
  padding: 60px 24px;

  /* padding: 60px 24px; */
}
.stages__img {
  /* display: block; */
  width: 100%;
  height: 160px;
  text-align: center;
}
.stages__img img {
  margin: 0 auto;
  width: 110px;
  height: 110px;
}

.stages__text {
  height: 145px;
  border-top: 3px solid #2d829d;
  border-bottom: 3px solid #2d829d;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.methodology {
  margin-bottom: 150px;
}
.methodology__item {
  border-top: 3px solid #b0bec5;
  padding-bottom: 20px;
}
.methodology__item:last-child {
  border-bottom: 3px solid #b0bec5;
}
.methodology__img img {
  margin: 20px auto;
}
.methodology__text {
}

.doca {
  font-size: 30px;
  margin-bottom: 300px;
  background-color: #ececec;
  padding: 30px 0;
}
.doca__header-h2 {
  margin: 0 auto 80px;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
  width: 80%;
  text-align: center;
}
.doca_h3 {
  display: block;
  font-size: 66px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  /* width: 80%; */
  margin-bottom: 30px;
}

.doca_img-wrapper {
  background-image: url(../img/portrait.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.doca_img-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #000;
  bottom: 30%;
  right: 30%;

}

.doca ul {
  margin-bottom: 60px;
}

.doca-read-more-wrapper {
  text-align: center;
}
.doca_read-more {
  background-color: #000;
  color: #fff;
  padding: 30px 60px 30px 60px;
  text-align: center;
  align-content: center;
  margin-bottom: 300px;
}

.socials {
  margin-bottom: 300px;
}
.soials__item {
  margin-bottom: 60px;
  background-color: #fff;
  padding: 15px;
}

.socials__inner {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
}
.socials__img {
  height: 240px;
  width: 240px;
  /* background-image: url(../img/) socials__img"; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}


.socials__img::after {
  content: "";
  display: block;
  position: relative;
  top: calc(100% - 32px);
  width: 62px;
  height: 62px;
  left: calc(50% - 32px);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
.socials__img--fb {
  background-image: url(../img/img-social-fb.png);
}
.socials__img--fb::after {
  background-image: url(../img/Fb_logo.svg);
}
.socials__img--insta {
  background-image: url(../img/portrait.png);
}
.socials__img--insta::after {
  background-image: url(../img/Insta.svg);
}

.socials__text {
  font-size: 25px;
}

.socials__text ul {
  padding: 0;
}
.socials__text ul li {
  padding: 0;
}
ul li::before {
  content: "";
}

.wherearewe {
  text-align: center;
  margin-bottom: 150px;
}
.wherearewe__h3 {
  font-size: 42px;
}
.wherearewe p {
  font-size: 24px;
  margin-bottom: 40px;
}

.schedule {
  margin-bottom: 150px;
  text-align: center;
}
.schedule__main {
  width: 90%;
  border: 2px solid #fff;
  margin: 0 auto;
  padding: 30px;
}
.schedule__item {
  padding: 20px 0;
}
.schedule__item:not(:last-child) {
  border-bottom: 2px solid #fff;
}
.schedule__item  img {
  display: inline-block;
}
.schedule__header {
  margin-bottom: 20px;
}



map iframe{
  width: 100%;
}
/* **************************** */
.rating {
  position: relative;
  font-size: 66px;
  display: inline-block;
  color: #ccc;
}
.rating::before {
  content: "★★★★★";
  display: block;
}
.rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
}
.rating__label::before {
  content: "★";
  display: block;
  transition: color .3s ease 0s;
}
.rating__label:hover,
.rating__label:hover ~ .rating__label,
.rating__label:checked ~ .rating__label {
  color: #eed59a;
}
.rating__item:checked,
.rating__item:checked ~ .rating__label {
  color: #f5b41b;
}

/* **************************** */
.feedback{
  background-color: #fff;

}
#feedback__text-id {
  display: inline-block;
  overflow: auto;
  width: 80%;
  padding: 5px 45px;
}
.feedback__btn {
  position: relative;
  /* bottom: -100%; */
  top: 5px;
  left: -55px;
  width: 40px;
  height: 40px;
}
.feedback__inner {
  position: relative;
  text-align: right;
}
.feedback__inner::before {
  content: "";
  background-image: url(../img/img_send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15%;
  bottom: 10px;
}
.feedback__slider {
  font-size: 24px;
  /* padding-bottom: 70px; */
}
.feedback__date {
  color: #ccc;
  font-size: 18px;
}
.feedback__user-stars {
  color: #f5b41b;
}

/* **************************** */
.swiper {
  padding: 0 0 50px;
}
.swiper-pagination {

}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}
.swiper-pagination-bullet-active {
  background-color: #666;
}
/* ***************************** */

.footer{
  padding: 100px 0 50px;

}
.footer__header {
  font-size: 42px;
  margin-bottom: 100px;
}
.footer__header span {
  background-color: #008080;
  padding: 0 15px;
}
.footer__to-contact {
  text-align: center;
  font-size: 32px;
  margin-bottom: 80px;
}
.footer__to-contact span {
  font-size: 24px;
}
.footer__to-contact img {
  display: inline-block;
}
